<div class="content">
    <nav>
        <div class="logo">
            <img src="../../../assets/logo.png" alt="Logo">
        </div>
        <div class="nav-bar">
            <ul>
                <li>Home</li>
                <li>Status</li>
                <li>About</li>
                <li class="alternate-li">Login</li>
            </ul>
        </div>
    </nav>
    <div class="hero">
        <div class="hero-img">
            <img src="../../../assets/hero.png" alt="Hero Img">
        </div>
        <div class="tile-container">
            <div class="tile bg-light-blue">
                <h2 class="text-dark-blue">Experienced Court Cases</h2>
                <p class="text-dark-blue">Find out more...</p>
            </div>
            <div class="tile bg-blue-gradient">
                <h2>Established Law Practice</h2>
                <p>Find out more...</p>
            </div>
            <div class="tile bg-dark-blue">
                <h2>Legal Innovation Awards</h2>
                <p>Find out more...</p>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="redirects">
            <div class="redirect-tile" routerLink="/corporate-law">
                <img src="../../../assets/building.png" alt="building">
                <h1>Corporate Law</h1>
                <p>Providing winning legal business advice</p>
                <button class="redirect-button">Create Agreement</button>
            </div>
            <div class="redirect-tile" routerLink="/employment-law">
                <img src="../../../assets/user-circle.png" alt="user-circle">
                <h1>Employment Law</h1>
                <p>HR Auditing solutions for legal compliance</p>
                <button class="redirect-button">Sign Agreement</button>
            </div>
            <div class="redirect-tile" routerLink="/international-law">
                <img src="../../../assets/globe.png" alt="globe">
                <h1>International Law</h1>
                <p>Protecting our customers legal needs globally</p>
                <button class="redirect-button">OAuth</button>
            </div>
        </div>
        <div class="more-info">
            <h1>E-Sign - Legal Docs in a Jiffy</h1>
            <div class="button-container">
                <button>CONNECT YOUR APP</button>
                <button class="alternate-button">FIND OUT MORE</button>
            </div>
            <p>Legal stuff goes here</p>
        </div>
    </div>
</div>