<div class="content">
    <div class="sign-in-page" *ngIf="loaded">
        <h1>Welcome {{localUserData.account.users[0].name}}</h1>
        <div class="files-container">
            <div class="files" *ngIf="dataPresent;else noFiles">
                <div class="file" *ngFor="let file of localDocumentData.files; index as i;">
                    <div class="card">
                        <img src={{file.thumbnail}} alt={{file.file_name}}>
                        <p>{{file.file_name}}</p>
                        <p>{{ file.file_size | bytes: false }}</p>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noFiles>
            <p>No Files</p>
        </ng-template>
    </div>

    <div class="loading" *ngIf="loaded == false">

    </div>
</div>
