.sign-in-page{
    width:100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    margin-top: 80px;
}

.info-box {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box p {
    padding: 10px 0px;
}

button a {
    color: #ffffff;
}

h1{
    margin: 20px 0px;
}

form{
    display: flex;
    flex-direction: column;
    
}

input{
    margin: 10px;

}

.files-container{
    padding: 5%;
    border-radius: 25px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 20px;
}

.files{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.file{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    text-align: center;
    width: 100%;
}

.card img{
    width: 75%;
    box-shadow: 5px 5px 10px 5px #e6e5e5;
}

@media (max-width: 600px){
    .file{
        width: 50% !important;
    }
}
