/* You can add global styles to this file, and also import other style files */
:root{
    --light-blue: #01FDFF;
    --blue: #274d9e;
    --dark-blue: #09167C;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: var(--dark-blue);
}
.bg-light-blue{
    background-color: var(--light-blue);
}
.bg-blue-gradient{
    background: linear-gradient(to left, var(--dark-blue), var(--light-blue));
}
.bg-dark-blue{
    background-color: var(--dark-blue);
}

.text-dark-blue{
    color: #09167C !important;   
}

button{
    padding: 15px 25px;
    background: linear-gradient(var(--light-blue), var(--dark-blue));
    color: #ffffff;
    font-weight: 600;
    border-radius: 100px;
    outline: none;
    border: none;
}

.alternate-button {
    background: none !important;
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
}

button:focus{
    outline: 0;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.pointer{
  cursor: pointer;
}

svg{
    fill: var(--blue);
}

.content{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

ul{
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--blue);
}

.error{
    color: crimson;
}

.desc-text{
    text-align: center;
    margin: 20px 0px;
}

@font-face {
	font-family: 'MorrisonsScript';
	src: url('./assets/fonts/MorrisonsScript.eot');
	src: local('☺'), url('./assets/fonts/MorrisonsScript.woff') format('woff'), url('./assets/fonts/MorrisonsScript.ttf') format('truetype'), url('./assets/fonts/MorrisonsScript.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@media (min-width: 750px){
    .desktop{
        display: flex;
    }
    .mobile{
        display: none !important;
    }
}

@media (max-width: 750px){
    .mobile{
        display: flex;
    }
    .desktop{
        display: none !important;
    }
}

/* Spinner Css */

.loading-spinner{
    margin-top: 0px;
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--dark-blue);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
    
    @keyframes stroke {
      100% {
        stroke-dashoffset: 0;
      }
    }
    @keyframes scale {
      0%, 100% {
        transform: none;
      }
      50% {
        transform: scale3d(1.1, 1.1, 1);
      }
    }
    @keyframes fill {
      100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
      }
    }