.content{
  width: 100vw;
  min-height: 100vh;
  z-index: 1;
}

.col-wrapper{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.complete-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.complete-page button{
  margin: 20px;
}

.form-container{
  margin-top: 100px;
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmation-box{
  width: 30%;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iframe-container{
  margin-top: 100px;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number{
  width: 30px;
  height: 30px;
  border-radius: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
  left: 25px;
  color: #ffffff;
  background-color: var(--dark-blue);
}

.upload{
  width: 80%;
  height: auto;    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  margin: 30px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 25px;
  position: relative;
}

.options{
  width: 90%;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.option{
  width: 160px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.option img{
  width: 60%;
  height: auto;
}
.option svg{
  width: 60%;
  height: auto;
}

.option button {
  margin: 20px 0px;
}

.computer{
  position: relative;
}

.computer > input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.document-confirm-wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  word-wrap: break-word;
}

.require{
  padding: 20px;
  text-align: center;
}

.require > p {
  color: red !important;
}

.error-text{
  max-width: 80%;
  text-align: center;
  align-self: center;
}

.add-signer-form{
  width: 80%;
  padding: 25px;
  margin-bottom: 25px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  border-radius: 25px;
}

.add-signer-form form{
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-bottom: 20px;
  width: 90%;
  height: auto;
  justify-content: space-evenly;
  align-items: flex-end;
}

.inputs{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
}

input{
  width: 100%;
  padding: 10px 15px;
  border: 2px solid var(--dark-blue);
  border-radius: 100px;
}

.field{
  display: flex;
  flex-direction: column;
}

.add-signer-button{
  width: 120px;
}


.signers{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.signer-details{
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-between;
  padding: 10px;
}

.navigation{
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 20px;
}

  @media (max-width: 1000px){
    .col-wrapper{
      flex-direction: column;
    }
    .form-container{
      width: 80%;
    }
    .confirmation-box{
      width: 60%;
      margin: 20px;
    }
    .inputs{
      flex-direction: column;
      width: 80%;
      overflow: hidden;
      justify-content: center;
    }
    input{
      width: 80%;
      padding: 10px;
    }
    .field{
      justify-content: center;
      align-items: center;
    }
    .add-signer-form form{
      align-items: center;
      justify-content: center;
    }
  }